<!-- Section -->
<section class="section">
    <div class="buttons has-addons is-right">
    <div class="field is-grouped ">
        <div class="control ">
          <button class="button is-info is-small " routerLink="/listarPaciente">Voltar</button>
        </div>
    </div>
    </div>  
    <!-- Titulo -->
    <h1 class="title is-2 has-text-centered">Consultas</h1>
    
    <div class="columns is-centered">
    <!-- Tabela -->
    <table class="table">
        <!-- Cabeçalho -->
        <thead>
          <tr>
            <th class="has-text-centered"><abbr title="Médico">Médico</abbr></th>
            <th class="has-text-centered"><abbr title="Paciente">Paciente</abbr></th>
            <th class="has-text-centered"><abbr title="Data">Data</abbr></th>
            <th class="has-text-centered"><abbr title="Cancelar"></abbr>Cancelar</th>
          </tr>
        </thead>
        <!-- Linha -->
        <tbody>
            <tr *ngFor="let consulta of listaConsultasFiltradas">
                <td>{{consulta.idMedico}}</td>
                <td>{{consulta.idPaciente}}</td>
                <td>{{consulta.data}}</td>
            
            <td>
                <div class="field is-grouped ">
                    <div class="control">
                    <!-- Botão Cancelar-->
                      <button class="button is-danger mx-1 modal-button" (click)="deletarConsulta(consulta.id)">Cancelar</button>
                    </div>
                </div>
                
            </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
    
    </section>
    

