<!-- Section -->
<section class="section">
    <!-- Titulo -->
    <h1 class="title is-2 has-text-centered">Cadastrar novo paciente</h1>
    <!-- center -->
    <div class="columns is-centered">
    <div class="column is-left">
    <form  [formGroup]="formCadastroPaciente" (submit)="realizarCadastroPaciente()" class="box">
        <!--Input Name -->
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
              <input  formControlName="nome" class="input" type="text" placeholder="Escreva seu nome aqui">
            </div>
          </div>
        
        <!--  data consulta -->
        <div class="field">
            <label class="label">Data de nascimento</label>
            <div class="control">
              <input formControlName="dataNasc" class="input" type="date" >
            </div>
          </div>
        <!-- cadastrar -->
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" >Cadastrar</button>
            </div>
        </div>
        </form>
    </div>
    
    </div>
    </section>