<!-- Section -->
<section class="section">
    <!-- Titulo -->
    <h1 class="title is-2 has-text-centered">Lista de Médicos</h1>
    
    <div class="columns is-centered">
    <!-- Tabela -->
    <table class="table">
        <!-- Cabeçalho -->
        <thead>
          <tr>
            <th class="has-text-centered"><abbr title="Nome">Nome</abbr></th>
            <th class="has-text-centered"><abbr title="DataCadastro">Data de Cadastro</abbr></th>
            <th class="has-text-centered"><abbr title="Especialidade">Especialidade</abbr></th>
            <th class="has-text-centered"><abbr title="Ações">Ações</abbr></th>
          </tr>
        </thead>
        <!-- Linha -->
        <tbody>
          <tr *ngFor="let medico of listaMedicos">
            <td>{{medico.nome}}</td>
            <td>{{medico.dataCadastro}}</td>
            <td>{{medico.idEspecialidade}}</td>
            <td>
                <div class="field is-grouped ">
                    <div class="control">
                    <!-- Botão Ver Consultas-->
                      
                      <button class="button is-success mx-1 modal-button" routerLink="verConsultaMedica/{{medico.id}}"> Ver consultas</button>
                    <!-- Botão Editar-->
                      <button class="button is-warning  mx-1" routerLink="editarConsultaMedica/{{medico.id}}/{{medico.nome}}/{{medico.idEspecialidade}}">Editar</button>
                    <!-- Botão deletar-->
                      <button class="button is-danger  mx-1">Deletar</button>
                    </div>
                </div>
                
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Modal -->
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
          <h3 class="title mb-6">VAI CARAIO</h3>
        </div>
      </div>
    </div>
    </section>

